<footer>
<div class="container text-center">
  <div class="row">
    <div class="col-4"></div>
  <div class="col-4">
    <div>Åforsvägen 11</div>
    <div>384 30 Blomstermåla</div>
    <div>Tel: 076-770 04 35</div>
  </div>
<div class="col-4"></div>
</div>
</div>
</footer>