<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" id="title" href="#">Aron Snickeri</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <div class="navbar-nav menu-wrapper">
          <a class="nav-link, headerLink" href="./">Hem</a>
          <a class="nav-link, headerLink" href="./customer/carpentry">Snickerier</a>
          <a class="nav-link, headerLink" href="./customer/kitchen">Kök</a>
          <a class="nav-link, headerLink" href="./contact">Kontakt</a>
          <a class="nav-link, headerLink" href="./company/company">Företag</a>
          <a class="nav-link, headerLink" href="./webshop/shop">Webshop</a>
            <a href="./webshop/cart" class="btn btn-outline-primary position-relative cart-button">
              <i class="bi bi-cart-fill"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                <%= totalQuantity %>
              </span>
            </a>
        </div>
      </div>
    </div>
  </nav>
  <img id="homeImage" src="./img/panoS.jpg" alt="landscape" class="img-fluid w-100">
</header>