<header>
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="title">Aron Snickeri</div>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col-8">
        <div id="smallTitle">Specialsnickeriet med kunden i centrum</div>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="./">Hem</a>
      </div>
      <div class="col">
        <a href="./customer/carpentry">Snickerier</a>
      </div>
      <div class="col">
        <a href="./contact">Kontakt</a>
      </div>
      <div class="col">
        <a href="./company/company">Företag</a>
      </div>
      <div class="col">
        <a href="./webshop/shop">Webshop</a>
      </div>
    </div>
  </div>
</header>