<div class="container">
  <h1 class="textStyle">Varukorg</h1>
  <table class="table table-bordered align-middle">
    <thead class="table-light">
      <tr>
        <th>Bild</th>
        <th>Produkt</th>
        <th>Pris</th>
        <th>Antal</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Varukorgen är tom</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
  </table>
  <a class="pageLink" href="./webshop/shop">Fortsätt shoppa</a>
</div>