<div class="container">
  <h3 class="textStyle">Tveka inte att kontakta oss om du undrar över något</h3>
  <div class="mx-auto" style="max-width: 600px;">
<form method="post" , action="./contact">
  <div class="mb-3">
    <label for="name" class="form-label">Namn</label>
    <input type="name" class="form-control" id="nameInput" placeholder="Ditt namn" re>
  </div>
  <div class="mb-3">
    <label for="telephone" class="form-label">Telefon</label>
    <input type="number" class="form-control" id="telephoneInput" placeholder="Ditt telefonnummer" required>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">E-post</label>
    <input type="email" class="form-control" id="emailInput" placeholder="Din e-post">
  </div>
  <div class="mb-3">
    <label for="question" class="form-label">Förfrågan</label>
    <textarea class="form-control" id="question" rows="3" required></textarea>
  </div>
  <button class="btn btn-secondary" type="submit">Skicka</button>
</form>
</div>
</div>