<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <div class="startInfo">
        <h1 class="textStyle">Aron Snickeri</h1>
        <div class="textStyle">
          <%= viewData.startInfo %>
        </div>
        <div class="textStyle">Vi är också återförsäljare av köksluckor genom <a class="pageLink" href="https://www.novaflex.se/kok/">Novaflex</a> kök.</div>
      </div>
    </div>
    <div class="col-md-6">
      <h1 class="textStyle">Nyheter</h1>
      <% viewData.newsInfo.forEach(item => { %>
        <div class="news-item">
          <img class="firstImage" src="<%= item.imageUrl %>" alt="<%= item.description %>">
          <div class="textStyle">
            <%= item.description %>
          </div>
        </div>
      <% }) %>
      <a class="pageLink" href="./news">Visa alla Nyheter</a>
    </div>
  </div>